<div class="waiting-modal modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <dl class="dl-horizontal">
          <div class="modal-body-content">
            <div class="text-center">
              <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
              <h3>Please Wait ...</h3>
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
